<div class='look_nice'>
  <div class='c_div'>
    <%= image_tag product.image, :size => '125x130' %>
    <h4><%= product.name %></h4>
  </div>
  <div>
    <h4>$<%= product.price.to_f %></h4>
  </div>
</div>