<div class="on_sale_products">
  <h1 class='product_header'>On Sale</h1>
  <%= render @products %>
</div>
<br/>
<div class="new_products">
  <h1 class='product_header'>New Products</h1>
  <%= render @products_new %>
</div>
